section.summary {
    background-color: #f9f9f9;
    padding-top: 30px;
}

div.summary_info {
    background-color: white;
    padding: 32px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.08);
}

div.multi {
    column-count: 2;
}

div.multi > div {
    display: block;
}

/* For Mobile */
@media screen and (max-width: 768px) {
    div.multi {
        column-count: 1;
    }
}